@font-face {
  font-family: 'electro-font';
  src:url(electro-font908e.eot?11470777579876207632);
  src:url(electro-fontdae4.eot?%23iefix&amp;11470777579876207632) format('embedded-opentype'),
    url(electro-font908e.woff?11470777579876207632) format('woff'),
    url(electro-font908e.ttf?11470777579876207632) format('truetype'),
    url(electro-font908e.svg?11470777579876207632) format('svg');
  font-weight: normal;
  font-style: normal;  
}
[data-icon]:before {
  font-family: "electro-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "electro-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-to-cart:before {
  content: "\61";
}
.icon-comment:before {
  content: "\63";
}
.icon-compare:before {
  content: "\64";
}
.icon-customers:before {
  content: "\65";
}
.icon-dollar:before {
  content: "\66";
}
.icon-favorites:before {
  content: "\67";
}
.icon-grid-view:before {
  content: "\68";
}
.icon-list-view:before {
  content: "\69";
}
.icon-phone:before {
  content: "\6b";
}
.icon-returning:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
.icon-shopping-bag:before {
  content: "\6e";
}
.icon-support:before {
  content: "\6f";
}
.icon-tag:before {
  content: "\70";
}
.icon-thing-arrow-right:before {
  content: "\71";
}
.icon-user:before {
  content: "\72";
}
.icon-arrow-right-categproes:before {
  content: "\62";
}
.icon-blog-likes:before {
  content: "\6a";
}
.icon-category-icon:before {
  content: "\73";
}
.icon-mail:before {
  content: "\74";
}
.icon-map-pointer:before {
  content: "\75";
}
.icon-newsletter:before {
  content: "\76";
}
.icon-close-remove:before {
  content: "\77";
}
.icon-payment:before {
  content: "\78";
}
.icon-arrow-down-search:before {
  content: "\79";
}
.icon-list-view-small:before {
  content: "\7a";
}
.icon-list-view-medium:before {
  content: "\41";
}
.icon-transport:before {
  content: "\42";
}